h1, h2, h3, div {
    color: black;
    text-align: center;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

input, button, img {
    margin: auto;
    display: block;
}

button {
    margin: 20px auto;
    background: #42D242;
    border-color: black;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
}

button:hover {
    background: #4ce84c;
}

input {
    background: #f0f0f0;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    width: 450px;
    text-align: center;
}

img {
    width: 450px;
}

img.loading {
    display:none;
}

@media screen and (max-width: 500px) {
    input {
        width: 90%;
    }

    img {
        width: 90%;
    }
}

input:hover, input:focus {
    background: #f5f5f5; 
}

div.errorMsg {
    color: red;
    font-size: 25px;
}